// .advantages {
//   background-image: url('../images/background-advantages.jpg');
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.advantages__container {
  padding: 45px 20px 45px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__title {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 20px;
  margin-bottom: 20px;

  border-bottom: 3px solid $main-color;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  text-align: center;
  text-transform: uppercase;
  color: $dark-color;
}

.advantages__title--highlighted {
  font-size: 50px;
  color: $main-color;
}

.advantages__description {
  margin-bottom: 20px;

  font-family: $addition-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: $dark-color;

  text-align: center;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__item {
  position: relative;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  background-color: $main-color;
}

.advantages__item + .advantages__item {
  margin-top: 20px;
}

.advantages__item-title {
  font-family: $addition-font;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;

  color: $white-color;
}
