@import './utils.scss';

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}

body {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 500;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  // min-height: 100%;
  position: relative;
  margin: 0 auto;
}
