.footer {
  background-color: $main-color;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  padding: 45px 20px 45px 20px;

  @media screen and (min-width: 1024px) {
    position: relative;
    justify-content: center;
  }
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;

  @media screen and (min-width: 1024px) {
    flex-direction: column;
  }
}

.footer__phone-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
}

.footer__email-link {
  display: flex;
  align-items: center;

  gap: 10px;
  width: 300px;
  padding: 15px;

  border-radius: 20px;
  background-color: $white-color;

  cursor: pointer;
}

.footer__icon-email {
  width: 22px;
  height: 17px;
}

.footer__email-text {
  font-family: $addition-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: $dark-color;
}

.footer__phone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  padding: 15px;

  border-radius: 20px;
  background-color: $white-color;
}

.footer__phone-link {
  width: 100%;
  display: flex;
  align-items: center;

  gap: 10px;

  cursor: pointer;
}

.footer__icon-phone {
  width: 22px;
  height: 17px;
}

.footer__phone-text {
  width: calc(100% - 22px);
  text-align: center;
  font-family: $addition-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: $dark-color;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.social-media__icon {
  width: 31px;
  height: 31px;
}

.footer__location {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 250px;
}

.footer__city-icon {
  width: 18px;
  height: 24px;
}

.footer__city-description {
  font-family: $addition-font;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;

  color: $white-color;
}

.footer__main-logo {
  padding: 10px;

  justify-content: center;
  border-radius: 20px;

  background-color: $white-color;

  @media screen and (min-width: 1024px) {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
}
