.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__item {
  padding: 25px;
  width: 280px;
  border-radius: 25px;
  background-color: $main-color;

  cursor: pointer;
  // -webkit-tap-highlight-color: transparent;

  &:hover,
  &:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  & + .navigation__item {
    margin-top: 30px;
  }
}

.navigation__link {
  display: block;
  text-align: center;

  font-family: $addition-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: $white-color;
}

.header-navigation {
  display: none;

  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
  }
}

.header-navigation__list {
  display: flex;
  align-items: center;

  gap: 40px;
}

.header-navigation__link {
  font-family: $addition-font;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;

  color: $secondary-color;

  &:hover,
  &:focus {
    color: $main-color;
  }
}
