.services {
  background-color: $white-color;
}

.services__title {
  margin-bottom: 45px;

  text-transform: uppercase;
  text-align: center;
  font-family: $addition-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.8;

  color: $white-color;
  background-color: $main-color;
}

.glide {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.glide__slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 20px;
  }
}

.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 500px;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 20px;
  &:hover,
  &:focus,
  &:active {
    .glide__hover-box {
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc(50% - 10px);
  }
  @media screen and (min-width: 1024px) {
    width: calc(33% - 10px);
    &:last-child {
      width: 100%;
      height: 350px;
      .glide__decoration-box {
        width: 97%;
        height: 320px;
      }
    }
  }
}

.glide__slide + .glide__slide {
  margin-top: 30px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.glide__slide--new-buildings {
  background-image: url('../images/new-buildings-background.jpg');
}

.glide__slide--private {
  background-image: url('../images/private-house-background.jpg');
}

.glide__slide--old-buildings {
  background-image: url('../images/old-buildings-background.jpg');
}

.glide__slide--commercial {
  background-image: url('../images/commercial-background.jpg');
}

.glide__decoration-box {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  height: 450px;
  border: 2px solid $white-color;
  border-radius: 20px;
}

.glide__title {
  font-family: $addition-font;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  color: $white-color;

  -webkit-text-stroke: 1px $main-color;
}

.glide__hover-box {
  visibility: hidden;
  opacity: 0;

  position: absolute;

  width: 100%;
  height: 100%;
  padding: 15px;

  flex-direction: column;
  align-items: center;

  border-radius: 18px;

  background-color: $white-color;

  transition: visibility 300ms ease-in, opacity 300ms ease-in;
}

.glide__title--hover {
  margin-bottom: 20px;

  -webkit-text-stroke: transparent;
  font-size: 26px;
  font-weight: 600;

  color: $dark-color;
}

.glide__hover-text {
  text-align: center;
  word-break: keep-all;
  hyphens: auto;

  font-family: $addition-font;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;

  color: $dark-color;
}
