.services {
  background-color: $background-color;
}

.services__container {
  padding: 0px 20px 0px 20px;
}

.services__title {
  text-transform: uppercase;
  text-align: center;
  font-family: $addition-font;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.8;

  color: $white-color;
  background-color: $main-color;
}

.swiper {
  width: 600px;
  height: 300px;
}
