//fonts
$base-font: 'Montserrat', sans-serif;
$addition-font: 'Montserrat Alternates', sans-serif;

// colors
$main-color: #a74d4a;
$secondary-color: #545454;
$background-color: #d1d6dc;
$dark-color: #121212;
$white-color: #ffffff;
