<div class="wrapper">
  <header class="header">
    <div class="header__container">
      <button class="main-logo">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <p class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </p>
      </button>
      <button type="button" id="modal-button">
        <svg class="header__burger-icon">
          <use href="./images/symbol-defs.svg#burger-icon-min"></use>
        </svg>
      </button>
    </div>
  </header>
  <main class="main">
    <div class="main-container">
      <section class="hero">
        <div class="hero__container">
          <h1 class="hero__title">Ремонт квартир та будинків</h1>
          <h2 class="hero__subtitle">
            Повний спектр послуг з ремонту квартир, будинків та промислових
            об’єктів
          </h2>
          <form class="hero__form" id="hero-form">
            <input
              type="tel"
              placeholder="Введіть свій номер"
              id="form-input"
              name="phone"
            />
            <button type="submit">Зв'язатися з нами</button>
          </form>
        </div>
      </section>
      <section class="services" id="services">
        <div class="services__container">
          <h2 class="services__title">Наші послуги</h2>
          <div class="glide">
            <div class="glide__track" data-glide-el="track">
              <ul class="glide__slides">
                <li class="glide__slide glide__slide--new-buildings">
                  <div class="glide__decoration-box">
                    <div class="glide__hover-box">
                      <h2 class="glide__title glide__title--hover">
                        Ремонт новобудов
                      </h2>
                      <p class="glide__hover-text">
                        Наша компанія спеціалізується на ремонті новобудов.<br />
                        Ми надаємо широкий спектр послуг, включаючи укладання
                        підлогових покриттів, встановлення сантехніки, монтаж
                        електропроводки, фарбування та багато іншого.<br />
                        Наша команда професіоналів гарантує якість та точність
                        Звертайтесь до нас для ремонту вашої новобудови та
                        отримайте надійний, швидкий та професійний сервіс за
                        розумними цінами. Заповніть форму на нашому сайті, щоб
                        отримати безкоштовну консультацію нашого експерта вже
                        сьогодні!
                      </p>
                    </div>
                    <h3 class="glide__title">Новобудови</h3>
                  </div>
                </li>
                <li class="glide__slide glide__slide--private">
                  <div class="glide__decoration-box">
                    <h3 class="glide__title">Приватні будинки</h3>
                    <div class="glide__hover-box">
                      <h2 class="glide__title glide__title--hover">
                        Ремонт новобудов
                      </h2>
                      <p class="glide__hover-text">
                        Наша компанія спеціалізується на ремонті новобудов.<br />
                        Ми надаємо широкий спектр послуг, включаючи укладання
                        підлогових покриттів, встановлення сантехніки, монтаж
                        електропроводки, фарбування та багато іншого.<br />
                        Наша команда професіоналів гарантує якість та точність
                        Звертайтесь до нас для ремонту вашої новобудови та
                        отримайте надійний, швидкий та професійний сервіс за
                        розумними цінами. Заповніть форму на нашому сайті, щоб
                        отримати безкоштовну консультацію нашого експерта вже
                        сьогодні!
                      </p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide glide__slide--old-buildings">
                  <div class="glide__decoration-box">
                    <h3 class="glide__title">Вторинний ринок</h3>
                    <div class="glide__hover-box">
                      <h2 class="glide__title glide__title--hover">
                        Ремонт новобудов
                      </h2>
                      <p class="glide__hover-text">
                        Наша компанія спеціалізується на ремонті новобудов.<br />
                        Ми надаємо широкий спектр послуг, включаючи укладання
                        підлогових покриттів, встановлення сантехніки, монтаж
                        електропроводки, фарбування та багато іншого.<br />
                        Наша команда професіоналів гарантує якість та точність
                        Звертайтесь до нас для ремонту вашої новобудови та
                        отримайте надійний, швидкий та професійний сервіс за
                        розумними цінами. Заповніть форму на нашому сайті, щоб
                        отримати безкоштовну консультацію нашого експерта вже
                        сьогодні!
                      </p>
                    </div>
                  </div>
                </li>
                <li class="glide__slide glide__slide--commercial">
                  <div class="glide__decoration-box">
                    <h3 class="glide__title">Комерційна нерухомість</h3>
                    <div class="glide__hover-box">
                      <h2 class="glide__title glide__title--hover">
                        Ремонт новобудов
                      </h2>
                      <p class="glide__hover-text">
                        Наша компанія спеціалізується на ремонті новобудов.<br />
                        Ми надаємо широкий спектр послуг, включаючи укладання
                        підлогових покриттів, встановлення сантехніки, монтаж
                        електропроводки, фарбування та багато іншого.<br />
                        Наша команда професіоналів гарантує якість та точність
                        Звертайтесь до нас для ремонту вашої новобудови та
                        отримайте надійний, швидкий та професійний сервіс за
                        розумними цінами. Заповніть форму на нашому сайті, щоб
                        отримати безкоштовну консультацію нашого експерта вже
                        сьогодні!
                      </p>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button
                class="glide__arrow glide__arrow--left"
                data-glide-dir="<"
              >
                <svg width="10px" height="15px" fill="#ffffff">
                  <use href="./images/symbol-defs.svg#prev-icon-min"></use>
                </svg>
              </button>
              <button
                class="glide__arrow glide__arrow--right"
                data-glide-dir=">"
              >
                <svg width="10px" height="15px" fill="#ffffff">
                  <use href="./images/symbol-defs.svg#next-icon-min"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </section>
      <section class="advantages" id="advantages">
        <div class="advantages__container">
          <h2 class="advantages__title">
            <span class="advantages__title--highlighted">30+</span>років
            успішної роботи
          </h2>
          <p class="advantages__description">
            Наша компанія має багаторічний досвід роботи в галузі ремонту
            квартир та будинків. За цей час ми успішно виконували проекти
            будь-якої складності і вимог, забезпечуючи нашим клієнтам якісні
            послуги.
          </p>
          <ul class="advantages__list">
            <li class="advantages__item">
              <div class="advantages__box">
                <svg class="advatages__flag-icon" width="69px" height="89px">
                  <use href="./images/symbol-defs.svg#flag-icon-min"></use>
                </svg>
                <span class="advantages__box-number">1</span>
              </div>
              <h4 class="advantages__item-title">Якість</h4>
              <svg class="advantages__icon" width="142px" height="144px">
                <use href="./images/symbol-defs.svg#quality-icon-min"></use>
              </svg>
            </li>
            <li class="advantages__item">
              <div class="advantages__box">
                <svg class="advatages__flag-icon" width="69px" height="89px">
                  <use href="./images/symbol-defs.svg#flag-icon-min"></use>
                </svg>
                <span class="advantages__box-number">2</span>
              </div>
              <h4 class="advantages__item-title">Вигідна ціна</h4>
              <svg class="advantages__icon" width="142px" height="144px">
                <use href="./images/symbol-defs.svg#price-icon-min"></use>
              </svg>
            </li>
            <li class="advantages__item">
              <div class="advantages__box">
                <svg class="advatages__flag-icon" width="69px" height="89px">
                  <use href="./images/symbol-defs.svg#flag-icon-min"></use>
                </svg>
                <span class="advantages__box-number">3</span>
              </div>
              <h4 class="advantages__item-title">Надійність</h4>
              <svg class="advantages__icon" width="142px" height="144px">
                <use href="./images/symbol-defs.svg#reliability-icon-min"></use>
              </svg>
            </li>
            <li class="advantages__item">
              <div class="advantages__box">
                <svg class="advatages__flag-icon" width="69px" height="89px">
                  <use href="./images/symbol-defs.svg#flag-icon-min"></use>
                </svg>
                <span class="advantages__box-number">4</span>
              </div>
              <h4 class="advantages__item-title">Досвід</h4>
              <svg class="advantages__icon" width="142px" height="144px">
                <use href="./images/symbol-defs.svg#experience--icon-min"></use>
              </svg>
            </li>
          </ul>
        </div>
      </section>
      <section class="process">
        <div class="process__container">
          <h2 class="process__title">Як ми працюємо</h2>
          <ul class="process__list">
            <li class="process__item">
              <div class="process__box">
                <svg width="69px" height="116px">
                  <use href="./images/symbol-defs.svg#request-icon-min"></use>
                </svg>
              </div>
              <p class="process__subtitle">Залиште заявку</p>
            </li>
            <li class="process__item">
              <div class="process__box">
                <svg width="99px" height="116px">
                  <use href="./images/symbol-defs.svg#expert-icon-min"></use>
                </svg>
              </div>
              <p class="process__subtitle">Виїзд фахівця на об'єкт</p>
            </li>
            <li class="process__item">
              <div class="process__box">
                <svg width="80px" height="116px">
                  <use href="./images/symbol-defs.svg#estimate-icon-min"></use>
                </svg>
              </div>
              <p class="process__subtitle">Складення кошторису</p>
            </li>
            <li class="process__item">
              <div class="process__box">
                <svg width="119px" height="116px">
                  <use href="./images/symbol-defs.svg#work-icon-min"></use>
                </svg>
              </div>
              <p class="process__subtitle">Виконуємо роботу</p>
            </li>
          </ul>
        </div>
      </section>
      <section class="stages">
        <div class="stages__container">
          <ul class="stages__list">
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Наш фахівець зателефонує Вам протягом 5 хв
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Домовиться про час і місце зустрічі для оцінки об’єкту
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Складе кошторис відповідно до вимог завдання
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Наша команда почне виконання ремонту
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Після успішного виконання Ви приймаєте об’єкт
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="application" id="application">
        <div class="application__container">
          <h3 class="application__title">Залиште заявку прямо зараз</h3>
          <form class="application__form">
            <input type="text" placeholder="Введіть ім’я" />
            <input type="number" placeholder="Введіть  свій номер" />
            <button type="submit">Зв'затися з нами</button>
          </form>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__container">
      <a class="footer__email-link">
        <svg class="footer__icon-email">
          <use
            class="test"
            href="./images/symbol-defs.svg#email-icon-min"
          ></use>
        </svg>
        <p class="footer__email-text">maks.kachalay@gmail.com</p>
      </a>
      <div class="footer__phone">
        <a class="footer__phone-link">
          <svg class="footer__icon-phone">
            <use href="./images/symbol-defs.svg#phone-icon-min"></use>
          </svg>
          <p class="footer__phone-text">38(099)-465-10-04</p>
        </a>
        <div class="social-media">
          <svg class="social-media__icon">
            <use href="./images/symbol-defs.svg#telegram-icon-min"></use>
          </svg>
          <svg class="social-media__icon">
            <use href="./images/symbol-defs.svg#viber-icon-min"></use>
          </svg>
        </div>
      </div>
      <div class="footer__location">
        <svg class="footer__city-icon">
          <use href="./images/symbol-defs.svg#location-icon-min"></use>
        </svg>
        <p class="footer__city-description">Київ, Київська область</p>
      </div>
      <a class="main-logo footer__main-logo">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <p class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </p>
      </a>
    </div>
  </footer>
  <div class="modal" id="modal">
    <div class="header__container header__modal">
      <button class="main-logo modal__logo">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <p class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </p>
      </button>
      <button type="button" id="modal-button-close">
        <svg class="modal__burger-icon">
          <use href="./images/symbol-defs.svg#burger-icon-close-min"></use>
        </svg>
      </button>
    </div>

    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#services">Послуги</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#advantages">Про нас</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#application">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
