<div class="wrapper">
  <header class="header">
    <div class="header__container">
      <div class="main-logo">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <p class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </p>
      </div>
      <svg class="header__burger-icon">
        <use href="./images/symbol-defs.svg#burger-icon-min"></use>
      </svg>
    </div>
  </header>
  <main class="main">
    <div class="main-container">
      <section class="hero">
        <div class="hero__container">
          <h1 class="hero__title">Ремонт квартир та будинків</h1>
          <h2 class="hero__subtitle">
            Повний спектр послуг з ремонту квартир, будинків та промислових
            об’єктів
          </h2>
          <form class="hero__form">
            <input type="number" placeholder="Введіть свій номер" />
            <button type="submit">Зв'язатися з нами</button>
          </form>
        </div>
      </section>
      <section class="services">
        <div class="services__container">
          <h2 class="services__title">Наші послуги</h2>
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide"><div>Новобудови</div></div>
              <div class="swiper-slide"><div>Приватні будинки</div></div>
              <div class="swiper-slide"><div>Вторинний ринок</div></div>
              <div class="swiper-slide"><div>Комерційна нерухомість</div></div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </section>
      <section class="advantages">
        <h2 class="advantages__title"><span>30+</span>років успішної роботи</h2>
        <p class="advantages__description">
          Наша компанія має багаторічний досвід роботи в галузі ремонту квартир
          та будинків. За цей час ми успішно виконували проекти будь-якої
          складності і вимог, забезпечуючи нашим клієнтам якісні послуги.
        </p>
        <ul class="advantages__list">
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#flag-icon-min"></use>
            </svg>
            <span>Якість</span>
            <svg>
              <use href="./images/symbol-defs.svg#quality-icon-min"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#flag-icon-min"></use>
            </svg>
            <span>Вигідна ціна</span>
            <svg>
              <use href="./images/symbol-defs.svg#price-icon-min"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#flag-icon-min"></use>
            </svg>
            <span>Надійність</span>
            <svg>
              <use href="./images/symbol-defs.svg#reliability-icon-min"></use>
            </svg>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#flag-icon-min"></use>
            </svg>
            <span>Досвід</span>
            <svg>
              <use href="./images/symbol-defs.svg#experience--icon-min"></use>
            </svg>
          </li>
        </ul>
      </section>
      <section class="process">
        <h2 class="process__title">Як ми працюємо</h2>
        <ul class="process__list">
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#request-icon-min"></use>
            </svg>
            <p>Залиште заявку</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#expert-icon-min"></use>
            </svg>
            <p>Виїзд фахівця на об'єкт</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#estimate-icon-min"></use>
            </svg>
            <p>Складення кошторису</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#work-icon-min"></use>
            </svg>
            <p>Виконуємо роботу</p>
          </li>
        </ul>
      </section>
      <section class="stages">
        <ul>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
            </svg>
            <p>Наш фахівець зателефонує Вам протягом 5 хв</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
            </svg>
            <p>Домовиться про час і місце зустрічі для оцінки об’єкту</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
            </svg>
            <p>Складе кошторис відповідно до вимог завдання</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
            </svg>
            <p>Наша команда почне виконання ремонту</p>
          </li>
          <li>
            <svg>
              <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
            </svg>
            <p>Після успішного виконання Ви приймаєте об’єкт</p>
          </li>
        </ul>
      </section>
      <section class="request-form">
        <h3 class="request-form__title">Залиште заявку прямо зараз</h3>
        <form>
          <input type="text" placeholder="Введіть ім’я" />
          <input type="number" placeholder="Введіть  свій номер" />
          <button type="submit">Зв'затися з нами</button>
        </form>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__email">
        <svg>
          <use href="./images/symbol-defs.svg#email-icon-min"></use>
        </svg>
        <p>maks.kachalay@gmail.com</p>
      </div>
      <div class="footer__phone">
        <svg>
          <use href="./images/symbol-defs.svg#phone-icon-min"></use>
        </svg>
        <p>38(099)-465-10-04</p>
      </div>
      <svg>
        <use href="./images/symbol-defs.svg#telegram-icon-min"></use>
      </svg>
      <svg>
        <use href="./images/symbol-defs.svg#viber-icon-min"></use>
      </svg>
    </div>
  </footer>
</div>
