<div class="wrapper">
  <header class="header" id="header2">
    <div class="header__container">
      <a class="main-logo" href="#header2">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <p class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </p>
      </a>
      <nav class="header-navigation">
        <ul class="header-navigation__list">
          <li class="header-navigation__item">
            <a class="header-navigation__link" href="#services">Послуги</a>
          </li>
          <li class="header-navigation__item">
            <a class="header-navigation__link" href="#advantages">Про нас</a>
          </li>
          <li class="header-navigation__item">
            <a class="header-navigation__link" href="#application">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="tel header__tel">
        <a class="tel__link" href="tel:+380970819231">
          <svg class="tel__icon">
            <use href="./images/symbol-defs.svg#phone-icon-min"></use>
          </svg>
          +380970819231</a
        >
      </div>
      <button class="modal__button" type="button" id="modal-button" aria-label="menu">
        <svg class="header__burger-icon">
          <use href="./images/symbol-defs.svg#burger-icon-min"></use>
        </svg>
      </button>
    </div>
  </header>
  <main class="main">
    <div class="main-container">
      <section class="hero">
        <div class="hero__container">
          <h1 class="hero__title">Ремонт квартир та будинків</h1>
          <h2 class="hero__subtitle">
            Повний спектр послуг з ремонту квартир, будинків та промислових
            об’єктів
          </h2>
          <form class="hero__form" id="hero-form">
            <input
              type="tel"
              placeholder="Введіть свій номер"
              id="form-input"
              name="phone"
            />
            <button type="submit">Зв'язатися з нами</button>
          </form>
        </div>
      </section>
      <section class="services" id="services">
        <div class="services__container">
          <h2 class="services__title">Наші послуги</h2>
          <div class="glide">
            <ul class="glide__slides">
              <li class="glide__slide glide__slide--new-buildings">
                <div class="glide__decoration-box">
                  <div class="glide__hover-box">
                    <h2 class="glide__title glide__title--hover">
                      Ремонт новобудов
                    </h2>
                    <p class="glide__hover-text">
                      Створення персонального дизайну під Ваші запити або ремонт
                      згідно з готовим дизайном та проектом. Також, локальний
                      ремонт: укладання підлогових покриттів, встановлення
                      сантехніки, монтаж електропроводки, фарбування та багато
                      іншого.
                    </p>
                  </div>
                  <h3 class="glide__title">Новобудови</h3>
                </div>
              </li>
              <li class="glide__slide glide__slide--private">
                <div class="glide__decoration-box">
                  <h3 class="glide__title">Приватні будинки</h3>
                  <div class="glide__hover-box">
                    <h2 class="glide__title glide__title--hover">
                      Ремонт приватних будинків
                    </h2>
                    <p class="glide__hover-text">
                      Заміна або встановлення будівельних конструкцій, систем
                      опалення, вентиляції, електропроводки, сантехніки та інших
                      елементів у приватних будинках. Підвищення
                      енергоефективності будівлі, збільшення безпеки, покращення
                      дизайну або підготування будівлі до продажу/здачі в
                      оренду.
                    </p>
                  </div>
                </div>
              </li>
              <li class="glide__slide glide__slide--old-buildings">
                <div class="glide__decoration-box">
                  <h3 class="glide__title">Вторинний ринок</h3>
                  <div class="glide__hover-box">
                    <h2 class="glide__title glide__title--hover">
                      Модернізація квартир та будинків
                    </h2>
                    <p class="glide__hover-text">
                      Повна або часткова модернізація квартир та будинків, які
                      були у використанні. Демонтаж старих елементів будівлі,
                      розробка проекту та виконання робіт згідно дизайну.
                    </p>
                  </div>
                </div>
              </li>
              <li class="glide__slide glide__slide--commercial">
                <div class="glide__decoration-box">
                  <h3 class="glide__title">Комерційна нерухомість</h3>
                  <div class="glide__hover-box">
                    <h2 class="glide__title glide__title--hover">
                      Ремонт комерційних об'єктів
                    </h2>
                    <p class="glide__hover-text">
                      Професійний ремонт комерційних об'єктів на високому рівні.
                      Повний спектр послуг, включаючи дизайн, планування, ремонт
                      та оновлення інтер'єру та екстер'єру будівлі. Наші
                      досвідчені фахівці здійснюють ремонт будівель будь-якої
                      складності, включаючи магазини, ресторани, офісні
                      приміщення та інші комерційні об'єкти.
                    </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section class="advantages" id="advantages">
        <div class="advantages__container">
          <h2 class="advantages__title">
            <span class="advantages__title--highlighted">10+</span>років
            успішної роботи
          </h2>
          <p class="advantages__description">
            Наша компанія має багаторічний досвід роботи в галузі ремонту
            квартир та будинків. За цей час ми успішно виконували проекти
            будь-якої складності і вимог, забезпечуючи нашим клієнтам якісні
            послуги.
          </p>
          <ul class="advantages__list">
            <li class="advantages__item">
              <div class="advantages__circle advantages__circle--first">
                <span class="advantages__number">01</span>
              </div>
              <div class="advantages__description-item">
                <h4
                  class="advantages__item-title advantages__item-title--first"
                >
                  Якість
                </h4>
                <div class="advantages__icon">
                  <svg class="advantages__svg" width="40px" height="40px">
                    <use href="./images/symbol-defs.svg#quality-icon-min"></use>
                  </svg>
                </div>
              </div>
              <div class="advantages__label advantages__label--first"></div>
              <div class="advantages__info advantages__info--first">
                Ми залучаємо тільки найкращих спеціалістів з багаторічним
                досвідом у ремонті квартир та будівель. Всі наші робітники
                проходять обов'язкову перевірку на професійну підготовку, досвід
                та знання.
              </div>
            </li>
            <li class="advantages__item">
              <div class="advantages__circle advantages__circle--second">
                <span class="advantages__number">02</span>
              </div>
              <div class="advantages__description-item">
                <h4
                  class="advantages__item-title advantages__item-title--second"
                >
                  Вигідна ціна
                </h4>
                <div class="advantages__icon">
                  <svg class="advantages__svg" width="40px" height="40px">
                    <use href="./images/symbol-defs.svg#price-icon-min"></use>
                  </svg>
                </div>
              </div>
              <div class="advantages__label advantages__label--second"></div>
              <div class="advantages__info advantages__info--second">
                Ми прагнемо забезпечити нашим клієнтам найкращі ціни на послуги
                з ремонту квартир, не компромітуючи при цьому якість наших
                робіт. Наша компанія пропонує конкурентоспроможні ціни на всі
                види послуг з ремонту квартир.
              </div>
            </li>
            <li class="advantages__item">
              <div class="advantages__circle advantages__circle--third">
                <span class="advantages__number">03</span>
              </div>
              <div class="advantages__description-item">
                <h4
                  class="advantages__item-title advantages__item-title--third"
                >
                  Надійність
                </h4>
                <div class="advantages__icon">
                  <svg class="advantages__svg" width="40px" height="40px">
                    <use
                      href="./images/symbol-defs.svg#reliability-icon-min"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="advantages__label advantages__label--third"></div>
              <div class="advantages__info advantages__info--third">
                Ми знаємо, як зробити роботу на найвищому рівні. Ми працюємо
                лише з якісними матеріалами, щоб забезпечити максимальну якість
                робіт. Якщо виникає будь-яке питання або проблема, наша компанія
                завжди готова допомогти і виправити ситуацію в найкоротші
                терміни.
              </div>
            </li>
            <li class="advantages__item">
              <div class="advantages__circle advantages__circle--fourth">
                <span class="advantages__number">04</span>
              </div>
              <div class="advantages__description-item">
                <h4
                  class="advantages__item-title advantages__item-title--fourth"
                >
                  Досвід
                </h4>
                <div class="advantages__icon">
                  <svg class="advantages__svg" width="40px" height="40px">
                    <use
                      href="./images/symbol-defs.svg#experience-icon-min"
                    ></use>
                  </svg>
                </div>
              </div>
              <div class="advantages__label advantages__label--fourth"></div>
              <div class="advantages__info advantages__info--fourth">
                За більше ніж 10 років діяльності ми успішно виконали сотні
                проектів, забезпечивши якість та задоволеність наших клієнтів.
                Ми завжди стежимо за останніми тенденціями та новітніми
                технологіями в цій галузі, також, маємо доступ до широкої мережі
                постачальників.
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="process">
        <div class="process__container">
          <h2 class="process__title">Як ми працюємо</h2>
          <ul class="process__list">
            <li class="process__item">
              <div class="process__number-box process__number-box--first">
                <span class="process__number">01</span>
              </div>
              <div class="process__box process__box--first">
                <svg width="30px" height="30px">
                  <use href="./images/symbol-defs.svg#request-icon-min"></use>
                </svg>
                <p class="process__subtitle">Залиште заявку</p>
              </div>
            </li>
            <li class="process__item">
              <div class="process__number-box process__number-box--second">
                <span class="process__number">02</span>
              </div>
              <div class="process__box process__box--second">
                <svg width="30px" height="30px">
                  <use href="./images/symbol-defs.svg#expert-icon-min"></use>
                </svg>
                <p class="process__subtitle">Виїзд фахівця на об'єкт</p>
              </div>
            </li>
            <li class="process__item">
              <div class="process__number-box process__number-box--third">
                <span class="process__number">03</span>
              </div>
              <div class="process__box process__box--third">
                <svg width="30px" height="30px">
                  <use href="./images/symbol-defs.svg#estimate-icon-min"></use>
                </svg>
                <p class="process__subtitle">Складення кошторису</p>
              </div>
            </li>
            <li class="process__item">
              <div class="process__number-box process__number-box--fourth">
                <span class="process__number">04</span>
              </div>
              <div class="process__box process__box--fourth">
                <svg width="30px" height="30px">
                  <use href="./images/symbol-defs.svg#work-icon-min"></use>
                </svg>
                <p class="process__subtitle">Виконуємо роботу</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class="stages">
        <div class="stages__container">
          <ul class="stages__list">
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Наш фахівець зателефонує Вам протягом 5 хв
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Домовиться про час і місце зустрічі для оцінки об’єкту
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Складе кошторис відповідно до вимог завдання
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Наша команда почне виконання ремонту
              </p>
            </li>
            <li class="stages__item">
              <svg class="stages__icon">
                <use href="./images/symbol-defs.svg#list-item-icon-min"></use>
              </svg>
              <p class="stages__description">
                Після успішного виконання Ви приймаєте об’єкт
              </p>
            </li>
          </ul>
        </div>
      </section>
      <section class="application" id="application">
        <div class="application__container">
          <h3 class="application__title">Залиште заявку прямо зараз</h3>
          <form class="application__form" id="application__form">
            <input
              type="text"
              placeholder="Введіть ім’я"
              name="name"
              id="application__input-name"
            />
            <input
              type="number"
              placeholder="Введіть  свій номер"
              name="phone"
              id="application__input-phone"
            />
            <button type="submit">Зв'затися з нами</button>
          </form>
        </div>
      </section>
    </div>
  </main>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__contacts">
        <div class="footer__phone-email">
          <a class="footer__email-link" href="mailto:maks.kachalay@gmail.com">
            <svg class="footer__icon-email">
              <use href="./images/symbol-defs.svg#email-icon-min"></use>
            </svg>
            <p class="footer__email-text">maks.kachalay@gmail.com</p>
          </a>
          <div class="footer__phone">
            <a class="footer__phone-link" href="tel:+380970819231">
              <svg class="footer__icon-phone">
                <use href="./images/symbol-defs.svg#phone-icon-min"></use>
              </svg>
              <p class="footer__phone-text">38(099)-465-10-04</p>
            </a>
          </div>
        </div>
        <div class="footer__location">
          <svg class="footer__city-icon">
            <use href="./images/symbol-defs.svg#location-icon-min"></use>
          </svg>
          <p class="footer__city-description">Київ, Київська область</p>
        </div>
      </div>
      <a class="main-logo footer__main-logo" href="#header2">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <span class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </span>
      </a>
    </div>
  </footer>
  <div class="modal" id="modal">
    <div class="header__container header__modal">
      <button class="main-logo modal__logo">
        <svg class="main-logo__icon">
          <use
            class="main-logo__svg"
            href="./images/symbol-defs.svg#logo-icon-min"
          ></use>
        </svg>
        <span class="main-logo__text">
          МАКСІБУД<span class="main-logo__text--highlighted">ЕКСПЕРТ</span>
        </span>
      </button>
      <button type="button" id="modal-button-close">
        <svg class="modal__burger-icon">
          <use href="./images/symbol-defs.svg#burger-icon-close-min"></use>
        </svg>
      </button>
    </div>
    <nav class="navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#services">Послуги</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#advantages">Про нас</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#application">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
